<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1032518984951-i2lf97m1acibbra6lq075ac3gcn1b8sl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1032518984951-i2lf97m1acibbra6lq075ac3gcn1b8sl</string>
	<key>API_KEY</key>
	<string>AIzaSyAyjVXKmws83f2mCODFz1_NMYqfOxqWLTo</string>
	<key>GCM_SENDER_ID</key>
	<string>1032518984951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mtn.mihama.health.app</string>
	<key>PROJECT_ID</key>
	<string>mihamaaiaiapp-f15c4</string>
	<key>STORAGE_BUCKET</key>
	<string>mihamaaiaiapp-f15c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032518984951:ios:d89cd04aa90eb7b2ce1ff2</string>
</dict>
</plist>