.pazzule-frame{
  width:100%;
  height:450px;
  text-align:-webkit-center;
  background-color: #ffffff;
  box-shadow: 0 0 8px gray;
}
#block {
    width: 400px;
    height: 270px;
    position: absolute;
    left: 50%;
    top: 50px;
    z-index:10;
  }
 
  #puzzle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 80px;
    left: calc(calc(100% - 300px)/2);
  }
  #puzzle li {
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    box-sizing: border-box;
    border:thin solid black;
  }
  #start {
    margin: 5px auto;
  }
  #start p{
    margin: 0px auto;
  }
  #time-frame {
    margin: 20px auto;
    margin-bottom: 15px;
    text-align: center;
    font-size: 20px;
    display: none;
 
  }
  #again {
    text-align: center;
    display: none;
  }
  .btn {
    cursor: pointer;
  }
